#cloud-config
packages:
  - sudo
  - python
users:
  - name: {{ username }}
    ssh-authorized-keys:
      {% for ssh_key in authorized_ssh_keys %}- {{ ssh_key }}{% endfor %}

    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
runcmd:
  - sed -i 's/.*PasswordAuthentication.*/PasswordAuthentication no/' /etc/sshd_config
  - sed -i 's/.*PermitRootLogin.*/PermitRootLogin no/' /etc/sshd_config
  - sed -i -e '$aAllowUsers {{ username }}' /etc/ssh/sshd_config
  - rm -rf /root/.ssh/
  - restart ssh
