#cloud-config
packages:
  - sudo
  - python
users:
  - name: {{ username }}
    ssh-authorized-keys:
      - {{ ssh_key }} 
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
runcmd:
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '/^PasswordAuthentication/s/^.*$/PasswordAuthentication no/' /etc/ssh/sshd_config
  - sed -i -e '$aAllowUsers {{ username }}' /etc/ssh/sshd_config
  - restart ssh
